.containerMain {
  display: flex;
  flex-wrap: wrap;
  font-size: 25px;
}

.filters {
  color: #f0002c;
  margin-top: 10px;
  background-color: white;
  border-radius: 5px;
  padding: 5px;
  margin-right: 20px;
  transition: all 1s ease-out;
  margin-bottom: 15px;
}

.filters:hover {
  padding: 10px;
}

@media only screen and (max-width: 500px) {
  .containerMain {
    align-items: center;
    justify-content: center;
    font-size: 20px;
  }
}

@media only screen and (max-width: 400px) {
  .containerMain {
    font-size: 16px;
  }
}