/* Botones */

.buttonCreate {
  margin-right: 30px;
  transition: all 0.8s ease;
}

.buttonCreate:hover {
  padding: 15px;
  font-size: 1.2rem;
}

.hideButton {
  display: none;
}

/* Responsive */

@media only screen and (max-width: 700px) {
  .buttonCreate {
    font-size: 1rem;
  }
}
