.field {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.093);
}

.field h2 {
  padding-top: 50px;
  font-size: 50px;
}

.field label {
  display: block;
  font-size: 20px;
  margin-top: 23px;
}

.field input {
  border: 1px black solid;
  border-radius: 15px;
  display: block;
  min-width: 500px;
  line-height: 1.5;
  font-size: 22px;
  background-color: white;
  color: black;
  padding: 10px 15px;
}

.field textarea{
  border: 1px black solid;
  border-radius: 15px;
  width: 500px;
  height: 150px;
  background-color: white;
  color: black;
  padding: 10px 15px;
}

input[type="submit"] {
  display: block;
  padding: 10px 15px;
  font-size: 25px;
  border-radius: 15px;
  background-color: #f0002c;
  color: #fff;
  border: none;
  margin-top: 30px;
  margin-bottom: 70px;
}

.hide {
  display: none;
}

@media only screen and (max-width: 600px) {
  .field h2 {
    font-size: 35px;
  }
  .field label {
    font-size: 18px;
  }
  .field input {
    min-width: 400px;
    font-size: 20px;
  }
  .field textarea{
    width: 400px;
    height: 120px;
  }
  
  input[type="submit"] {
    font-size: 20px;
  }
}

@media only screen and (max-width: 440px) {
  .field h2 {
    font-size: 30px;
  }
  .field label {
    font-size: 16px;
  }
  .field input {
    min-width: 250px;
    font-size: 18px;
  }
  .field textarea{
    width: 250px;
    height: 100px;
  }
  
  input[type="submit"] {
    font-size: 18px;
  }
}