/* Botones */

.buttonUpdate {
  margin-right: 30px;
  transition: all 0.8s ease;
  background-color: green;
}

.buttonUpdate:hover {
  padding: 15px;
  font-size: 1.2rem;
}

.hideButton {
  display: none;
}

/* Responsive */

@media only screen and (max-width: 700px) {
  .buttonUpdate {
    font-size: 1rem;
  }
}
